### Visual Stuido Code
.vscode

### Node modules
node_modules

### Config
.gitattributes
jsonconfig.json

### package information
package.json
package-lock.json

### Vite configuration
vite.config.js
